.main-header-actions {
  display: flex;
}

.main-header-actions__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 4px 16px;
  border-radius: 8px;
}

.main-header-actions__item.home {
  margin-left: 8px;
}

.main-header-actions__item.home:hover {
  color: var(--blue-11);
  background-color: var(--blue-4);
}

.main-header-actions__item.logout {
  color: var(--red-11);
}

.main-header-actions__item.logout:hover {
  background-color: var(--red-4);
}

.main-header-actions__title {
  display: inline-block;
  margin-right: 8px;
}
