* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}

button {
  all: unset;
  border: none;
  outline: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

input,
textarea {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  height: 1em;
}

*[dir='rtl'] {
  direction: rtl;
  unicode-bidi: plaintext;
}
